.essayContainer {
  margin-top: 50px;
  background-color: var(--background-l);
  color: black;
  min-height: 100vh;
  height: fit-content;
}

.innerContainer {
  background-color: var(--primary-l);
  margin-top: 50px;
  width: 80%;
  border-radius: 20px;
  padding: 5%;
  min-height: fit-content;
  height: fit-content;
}

.paragraph {
  color: #3c3c3cc1;
  margin-top: 10px;
}
.heading {
  margin-top: 10px;
}

.flexDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.svgButton {
  cursor: pointer;
  transition: transform 0.1s ease;
}
.svgButton:hover {
  transform: scale(1.1);
}

.dissapear {
  background-color: transparent;
  border: none;
  outline: none;
}
.imageFloat {
  float: left;
  margin: 0 16px 16px 0; /* space between image and text */
  border-radius: 40px;
  width: 40%;
}

.essayContent {
  padding: 20px;
  overflow: hidden; /* clears the float */
  font-family: sans-serif;
  line-height: 1.5;
  height: fit-content;
}

.markdownContainer > * {
  margin-top: 20px;
  line-height: 25px;
}
