/* <div className={style.essayContainer}>
          <div className={style.innerContainer}>
            <div className={style.flexDiv}>
              <h1>{essay.title}</h1>
              <div className={style.flexDiv}>
                <button>Read</button>
                <button>Download</button>
                <button>Like</button>
              </div>
            </div>
            <h2>author name</h2>
            <div className={style.essayContent}>
              <p>{essay.content}</p>
            </div>
          </div>
        </div>
 */
.essayContainer {
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-l);
  color: var(--text-main-l);
  min-height: fit-content;
  height: 100vh;
}

.innerContainer {
  background-color: var(--primary-l);
  margin-top: 50px;
  width: 80%;
  border-radius: 20px;
  padding: 5%;
  min-height: fit-content;
}
.flexDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.flexDiv button {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid var(--icon-line);
  background-color: transparent;
  font-size: 1.2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: var(--text-main-l);
  transition: transform 0.1s ease;
}
.flexDiv button:hover {
  transform: scale(1.05);
  background-color: var(--hover-dark-l);
}

.essayContent {
  margin-top: 20px;
  height: 400px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.bookSection {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
}
.bookImg {
  height: 500px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.3);
}
.bookRightDiv {
  width: 40%;
}
.bookRightDiv * {
  margin-top: 10px;
}
.bookRightDiv h1 {
  font-size: 30px;
}
.buttonsDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.readButton {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid var(--icon-line);
  background-color: transparent;
  font-size: 1.2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: var(--text-main-l);
  transition: transform 0.1s ease;
}
.readButton:hover {
  transform: scale(1.05);
  background-color: var(--hover-dark-l);
}
.svgButton {
  cursor: pointer;
  transition: transform 0.1s ease;
}
.svgButton:hover {
  transform: scale(1.1);
}
/* end of book section */
/* author section*/

.authorName {
  margin-top: 50px;
}
.authorSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  padding: 5% 0;
  background-color: var(--bg);
  border-radius: 12px;
}

.authorImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid var(--icon-line);
}

.authorRightDiv {
  flex: 1;
}

.authorRightDiv * {
  margin-top: 5px;
}

.authorTopDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.authorTextDiv h3 {
  font-size: 25px;
}

.authorTextDiv p {
  font-size: 18px;
}

.authorTextDiv div {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.viewWorkButton {
  width: 210px;
  height: 45px;
  border-radius: 20px;
  background-color: var(--secondary-l);
  outline: none;
  border: none;
  font-size: 1em;
  transition: transform 0.1s ease;
  flex-shrink: 0;
}

.viewWorkButton:hover {
  transform: scale(1.05);
}

.infoPz {
  font-size: 24px;
  margin-top: 15px;
}
/* info section */

.infoSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 20px 5%;
}

/* Individual info card style */
.infoItem {
  padding: 20px;
  background-color: var(--bg-light);
  font-size: 18px;
  transition: transform 0.2s ease;
}

.infoItem:hover {
  transform: scale(1.03) translateX(3px);
}
.infoItem h3 {
  font-size: 28px;
  color: black;
}
.infoItem p {
  color: rgb(30, 30, 30);
  font-size: 18px;
}

.dissapear {
  background-color: transparent;
  border: none;
  outline: none;
}

/*
infoSection
<div className={style.infoItem}>
        <h3>{props.title}</h3>
        <p>{props.description}</p>
      </div>
*/

@media screen and (max-width: 1024px) {
  .authorName {
    text-align: center;
  }
  .bookSection {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .bookImg {
    width: 250px;
    height: 400px;
  }

  .bookRightDiv {
    width: 90%;
  }

  .bookRightDiv h1 {
    font-size: 24px;
  }

  .bookRightDiv h3 {
    font-size: 15px;
  }

  .bookRightDiv h2 {
    font-size: 20px;
  }

  .bookRightDiv p {
    font-size: 16px;
  }
  /* author */
  .authorSection {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .authorImg {
    width: 120px;
    height: 120px;
  }

  .authorTextDiv h3,
  .authorTextDiv p,
  .infoPz {
    font-size: 18px;
    text-align: center;
  }

  .authorTextDiv div {
    gap: 20px;
    justify-content: center;
  }

  .viewWorkButton {
    width: 180px;
    height: 40px;
  }

  .authorRightDiv {
    width: 90%;
    text-align: center;
  }

  .authorTopDiv {
    flex-direction: column;
    align-items: center;
  }

  /* info */
  .infoSection {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 1025px) {
  .bookSection {
    padding: 5% 0;
    gap: 40px;
  }

  .bookRightDiv h1 {
    font-size: 32px;
  }

  .bookRightDiv h3 {
    font-size: 18px;
  }

  .bookRightDiv h2 {
    font-size: 26px;
  }

  .bookRightDiv p {
    font-size: 18px;
    line-height: 1.6;
  }
  /* author */
  .authorSection {
    padding: 5% 0;
    gap: 40px;
  }

  .authorTextDiv h3 {
    font-size: 25px;
  }

  .authorTextDiv p {
    font-size: 18px;
  }

  .infoPz {
    font-size: 18px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1325px) {
  .bookSection {
    padding: 0 5%;
    gap: 0px;
  }
  .bookImg {
    width: 400px;
    height: 600px;
  }
  .bookRightDiv h1 {
    font-size: 32px;
  }

  .bookRightDiv h3 {
    font-size: 18px;
  }

  .bookRightDiv h2 {
    font-size: 26px;
  }

  .bookRightDiv p {
    font-size: 18px;
    line-height: 1.6;
  }
  /* author div */
  .authorImg {
    width: 150px;
    height: 150px;
  }

  .authorTextDiv h3 {
    font-size: 28px;
  }

  .authorTextDiv p {
    font-size: 18px;
  }

  .infoPz {
    font-size: 22px;
  }
}
