/* footer */

footer {
  margin-top: 20px;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem 0;
}

.page {
  background-color: var(--primary-l);
  border: 3px solid var(--text-main-l);
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 50%;
  color: var(--text-main-l);
}

.activePage {
  background-color: var(--hover-dark-l);
  color: white;
  border: 3px solid var(--text-main-l);
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
  color: var(--text-main-l);
  font-size: 1em;
}

.ellipsis {
  padding: 0.5rem 0.75rem;
  color: #888;
  user-select: none;
  background-color: red;
}
