.containerBubbleRight,
.containerBubbleLeft {
  width: 90%;
  height: fit-content;
  max-height: 8;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
}
.containerBubbleLeft {
  align-items: flex-end;
  justify-content: flex-start;
}
.imgDiv {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  background: url("../../assets/aiIcon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.containerBubbleRight {
  align-items: flex-end;
  justify-content: flex-end;
}
.messageLeftDiv,
.messageRightDiv {
  background-color: #679089;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 0.7em;
  max-width: 65%; /* ✅ limit width of the bubble */
  word-wrap: break-word; /* ✅ wrap long words */
  white-space: pre-wrap;
}
.messageLeftDiv {
  border-bottom-left-radius: 0px;
}

.messageRightDiv {
  border-top-right-radius: 0px;
}
.messageLeftP {
  text-align: left;
}
.messageRightP {
  text-align: right;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 30px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #dddddd 90%, #ffffff00) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
