/*
{genres.map((genre) => (
                <div key={genre.id} className={style.genre}>
                    {genre.svg}
                    <img src={genre.img} alt={genre.name} />
                </div>
            ))}

*/
.visualGenres{
    margin: 50px 20px 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 20px 0px 0px;
    overflow-x: none;
    overflow-y: hidden;
    padding-bottom: 10px;
    scrollbar-width: thin;            /* Firefox */
    scrollbar-color: #E6DBCD #fbefe0; /* Firefox thumb and track */
}

/* Chrome, Edge, Safari */
.visualGenres::-webkit-scrollbar {
    height: 10px;
}

.visualGenres::-webkit-scrollbar-track {
    background: #E0F0EE;
    border-radius: 10px;
}

.visualGenres::-webkit-scrollbar-thumb {
    background: #E6DBCD;
    border-radius: 10px;
    border: 2px solid #E0F0EE; /* Optional border for better contrast */
}

.visualGenres::-webkit-scrollbar-thumb:hover {
    background: #E6DBCD;
}
.visualGenres h2{
    margin-left: 15px;
}
.genresContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.genre {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 20px;
    transition: transform 0.3s ease;
}
.genre:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.genre h3{
    color: #917F74;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}
.genre img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-40%, -100%);
    
}
