.searchOuterContainer {
  width: 70%;
  position: absolute;
  left: 25%;
  top: 4%;
  z-index: 100;
}

.searchInnerContainer {
  width: 100%;
  background-color: var(--primary-l);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  border-radius: 40px;
  color: var(--text-main-l);
  border: 2px solid #b9afa3;
  transition: border-radius 0.3s ease, border 0.3s ease,
    background-color 0.3s ease;
}
.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.searchBar {
  width: 90%;
  border-radius: 20px;
  height: 50%;
  padding-left: 10px;
  color: var(--searchbar-text);
}
.searchBar,
.searchBar:hover,
.searchBar:focus {
  background-color: var(--searchbar-background);
  border: none;
  outline: none;
}

.searchIcon:hover {
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.foundItems {
  width: 100%;
  display: flex;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.4s ease;
  pointer-events: none;

  height: fit-content;
  background-color: var(--primary-l);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: var(--text-main-l);
  border: 2px solid #b9afa3;
  border-top: none;
  gap: 7px;
  list-style: none;
  overflow-wrap: break-word;
}
.visible {
  opacity: 1;
  max-height: 500px; /* set high enough to fit content */
  pointer-events: auto;
}
.foundItems li {
  overflow-wrap: break-word;
  width: 100%;
}
.bookLinkStyling {
  color: var(--text-l);
  text-decoration: none;
}
/*
<div className={style.searchContainer}>
  <div className={style.searchContainer}>
    <input
      placeholder="Search here"
      className={style.searchBar}
      type="text"
      name="seachBar"
    />
    <label className={style.searchIcon} htmlFor="seachBar">
      icon
    </label>
  </div>
  <ul className={style.foundItems}>
    <li className={style.foundItem}> item 1 pages 55 aithor me</li>
  </ul>
</div>

*/
@media screen and (max-width: 1150px) {
  .searchOuterContainer {
    width: 70%;
    left: 40%;
  }
}
