:root {
  --primary-l: #e6dbcd;
  --secondary-l: #f18966;
  --ternary-l: #d97b5c;
  --accent-l: #e19571;
  --text-main-l: #917f74;
  --background-l: #fbf8f6;
  --scrollbar-l: #fbefe0;
  --hover-dark-l: #d9d0c2;
}

.light {
  --primary-l: #e6dbcd;
  --secondary-l: #f18966;
  --ternary-l: #d97b5c;
  --accent-l: #e19571;
  --text-main-l: #917f74;
  --background-l: #fbf8f6;
  --scrollbar-l: #fbefe0;
  --hover-dark-l: #d9d0c2;
}

.dark {
  --primary-l: #1d1616;
  --secondary-l: #6672f1;
  --ternary-l: #d97b5c;
  --accent-l: #719ee15c;
  --text-main-l: #eeeeee;
  --background-l: #8e1616;
  --scrollbar-l: #fbefe0;
  --hover-dark-l: #d9d0c2;
}
