.filterSection {
  color: var(--text-main-l);
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.fiterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 20%;
  padding: 0px 20px;
}

/* className={`${style.filterContainer} ${
              !showFilters ? style.filterHidden : ""
            }`} */

.fiterDiv button {
  width: 120px;
  height: 40px;
}
.filterContainer {
  transition: all 0.5s ease;
  width: 100px;
  height: 100px;
  background-color: black;
  transform-origin: right;
  transform: scaleX(1);

  opacity: 1;
  will-change: transform, opacity;
}

.filterHidden {
  transform: scaleX(0.5);
  opacity: 0.5;
  pointer-events: none;
}

/* showing books */
.sortedBooksSection {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* space between items */
  align-items: center;
  min-height: fit-content;
  padding: 20px;
}

.sortedBooksSection > * {
  flex: 0 1 calc(100% / 6 - 16px); /* 6 items per row by default */
  max-width: calc(100% / 6 - 16px);
  height: 200px;
  margin-top: 20px;
}

/* footer */

footer {
  margin-top: 20px;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem 0;
}

.page {
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 4px;
}

.activePage {
  background-color: var(--text-main-l);
  color: white;
  border: 1px solid var(--text-main-l);
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
}

.ellipsis {
  padding: 0.5rem 0.75rem;
  color: #888;
  user-select: none;
}
