.filterSection {
  color: var(--text-main-l);
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.fiterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 20%;
  padding: 0px 20px;
}

/* className={`${style.filterContainer} ${
              !showFilters ? style.filterHidden : ""
            }`} */

.fiterDiv button {
  width: 120px;
  height: 40px;
}
.filterContainer {
  transition: all 0.5s ease;
  width: 100px;
  height: 100px;
  background-color: black;
  transform-origin: right;
  transform: scaleX(1);

  opacity: 1;
  will-change: transform, opacity;
}

.filterHidden {
  transform: scaleX(0.5);
  opacity: 0.5;
  pointer-events: none;
}
