.home{
    background-color: #FBF8F6;
    width:100vw;
    height: 100vh;
    padding-left: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}
.homeContent{
    background-color: white;
    flex-grow: 1;
    height: 100%;
}
.topSection{margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
}