.home {
  background-color: var(--background-l);
  width: 100vw;
  height: 100vh;
  padding-left: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1;
  overflow-x: hidden;
  flex-direction: column;
}
.homeContent {
  width: 80%;
  height: 100%;
}
.topSection {
  width: 80%;
  height: 60px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
  position: relative;
}
.topSection h2 {
  color: var(--text-main-l);
  font-size: 50px;
  font-weight: 700;
  font-size: 28px;
}

.genreSection {
  min-height: 30%;
}

.ourPickSection {
  height: 20vh;
}
