.userPage {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-l);
  padding: 0px 0px 80px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.userInfo {
  padding: 50px 50px 50px 50px;
  width: 60%;
  min-width: fit-content;
  height: 20vh;
  min-height: 10vh;
  background-color: var(--primary-l);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-main-l);
  gap: 10%;
  flex-direction: row;
  font-size: clamp(0.7rem, 1vw, 1rem);
  flex-wrap: nowrap;
  text-wrap: nowrap;
  line-height: 1.8;
}

.profilePicture {
  height: 50%;
}
.userPfpSection {
  margin-top: 80px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.userPfp {
  width: 300px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--border-color);
}
.userPfpSection div input {
  position: absolute;
}
.userPfpSection div label {
  background-color: var(--background-transperant);
  color: #917f74;
  padding: 0.75rem;
  border: 2px solid var(--icon-line);
  font-family: sans-serif;
  border-radius: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s ease;
}
.userPfpSection div label:hover {
  background-color: var(--icon-line);
  color: rgb(76, 76, 76);
  transform: scale(1.1);
}

.userPfpSection button {
  background-color: var(--background-transperant);
  width: 120px;
  height: 40px;
  border-radius: 20px;
  outline: none;
  border: 2px solid var(--icon-line);
  transition: all 0.3s ease;
  cursor: pointer;
}

.uploadBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.uploadBtnContainer button {
  position: relative;
  width: 30%;
  cursor: pointer;
}
.uploadBtnContainer button:hover {
  background-color: var(--icon-line);
  color: rgb(76, 76, 76);
  transform: scale(1.1);
  color: white;
}
.aboutMeDiv {
  width: 300px;
  height: 240px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.aboutMeDiv p {
  size: 1.2em;
  color: var(--text-main-l);
}
.aboutMeDiv textarea {
  display: inline;
  height: 90%;
  border-radius: 10px;
  border: 3px solid var(--border-color);
  padding: 10px;
  color: var(--text-main-l);
  transition: transform 0.1s ease;
}
.aboutMeDiv textarea:focus {
  transform: scale(1.01);
  outline: none;
}
.formsSection {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  padding-left: 10%;
}

/* form */
.changeInfoForm {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
  background-color: var(--background-l);
}
.formGroup {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
}
.rightForm {
  align-items: flex-end;
}
.formGroup label {
  font-size: 30px;
  color: var(--text-main-l);
}

.leftInput {
  width: 50%;
  min-width: 200px;
  max-width: 400px;
  height: 50px;
  border-radius: 20px;
  outline: none;
  border: 2px solid var(--icon-line);
  padding-left: 20px;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: var(--text-main-l);
}
.rightForm input {
  background-color: black;
}
.sumbitButton {
  width: 20%;
  max-width: 200px;
  min-width: 100px;
  height: 40px;
  max-height: 50px;
  min-height: 30px;
  border-radius: 20px;
  outline: none;
  border: 2px solid var(--icon-line);
  background-color: var(--primary-l);
  margin-top: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.changeButtons {
  width: 50%;
  max-width: 200px;
  min-width: 100px;
  height: 60px;
  max-height: 50px;
  min-height: 30px;
  border-radius: 20px;
  outline: none;
  border: 2px solid var(--icon-line);
  background-color: var(--primary-l);
  transition: all 0.3s ease;
  font-size: 1.2em;
  cursor: pointer;
}
.changeButtons:hover {
  background-color: var(--icon-line);
  color: rgb(76, 76, 76);
  transform: scale(1.05);
  color: white;
}
.deleteButton {
  width: 50%;
  max-width: 200px;
  min-width: 100px;
  height: 60px;
  max-height: 50px;
  min-height: 30px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #f5564a;
  color: white;
  transition: all 0.3s ease;
  font-size: 1.2em;
  cursor: pointer;
}
.deleteButton:hover {
  background-color: #f44336;
  color: rgb(76, 76, 76);
  transform: scale(1.05);
  color: white;
}
.sumbitButton:hover {
  background-color: var(--icon-line);
  color: rgb(76, 76, 76);
  transform: scale(1.05);
  color: white;
}

/* user delete

<div className={style.deleteContainer}>
      <img
        src="https://i.kym-cdn.com/editorials/icons/mobile/000/012/745/are_you.jpg"
        alt="are you sure?"
      />
      <div className={style.deleteBtnDiv}>
        <button onClick={setDeleteVisability(false)} className={style.no}>
          არა
        </button>
        <button onClick={handleAccountDelete} className={style.yes}>
          კი
        </button>
      </div>
    </div>
*/

.deleteContainer {
  position: fixed;
  width: 120vw;
  height: 100vh;
  background-color: rgba(93, 93, 93, 0.581);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.deleteBtnDiv {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no,
.yes {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
  width: 100px;
}

.button::before,
.button::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7d8082;
  transition: all 0.15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  transform: skew(-15deg);
  transition: all 0.2s ease;
}
.grun {
  background-color: rgb(0, 181, 0);
}
.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}
