.userPage {
  width: 80vw;
  height: 100vh;
  background-color: var(--background-l);
  padding: 80px 0px 80px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.userInfo {
  padding: 50px 50px 50px 50px;
  width: 60%;
  min-width: fit-content;
  height: 20vh;
  min-height: 10vh;
  background-color: var(--primary-l);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-main-l);
  gap: 10%;
  flex-direction: row;
  font-size: clamp(0.7rem, 1vw, 1rem);
  flex-wrap: nowrap;
  text-wrap: nowrap;
  line-height: 1.8;
}

.profilePicture {
  height: 50%;
}
.textInfo {
}
/* <div className={style.userPage}>
<div className={style.userInfo}>
  <div className={style.userPfp}></div>
  <div className={style.textInfo}>
    <h2>Username</h2>
    <h2>Email</h2>
    <h2>*******</h2>
  </div>
</div>
</div> */
