.flexDiv {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-main-l);
}
.addEssayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--primary-l);
  border: 3px solid var(--text-main-l);
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.2s ease;
}
.addEssayContainer:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: var(--hover-dark-l);
}

.essaysContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 35px; /* space between items */
  align-items: center;
  min-height: fit-content;
  padding: 20px;
}

/*
<div className={style.flexDiv}>
          <h3>უახლესი</h3>
          <div className={style.addEssayContainer}>
            <h4>დაამატე ესე</h4>
            <EssaysSvgs name="plus" />
          </div>
        </div>
*/
